@using oikonomos.common.Models
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/@(Session[oikonomos.common.SessionVariable.Church] == null ? "start" : ((ChurchViewModel)Session[oikonomos.common.SessionVariable.Church]).UITheme)/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui.mask.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/tooltip.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.0.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/tinymce/jquery.tinymce.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/tinymce/tiny_mce.js")"></script>
</head>

<body style='background-image: url(/Content/images/backgrounds/@(Session[oikonomos.common.SessionVariable.Church] == null ? "default.png" : ((ChurchViewModel)Session[oikonomos.common.SessionVariable.Church]).BackgroundImage)); 
 background-repeat:no-repeat;
 background-attachment:fixed;
 background-position:center; '>


@if (Session[oikonomos.common.SessionVariable.LoggedOnPerson] != null)
{
<div style="width: 100%" >
    <div id="menu" class="ui-widget" style="margin: 0 auto; text-align:center; width:1000px">
        <div id="buttons" style="text-align: left; height:40px" >
            <button id="button_home">Home</button> 
            @if (ViewBag.CurrentUser.HasPermission(oikonomos.common.Permissions.EditGroupPersonalDetails) ||
                ViewBag.CurrentUser.HasPermission(oikonomos.common.Permissions.EditChurchPersonalDetails) ||
                ViewBag.CurrentUser.HasPermission(oikonomos.common.Permissions.EditOwnDetails))
            {
                <button id="button_person">
                @if (ViewBag.CurrentUser.HasPermission(oikonomos.common.Permissions.EditGroupPersonalDetails) ||
                ViewBag.CurrentUser.HasPermission(oikonomos.common.Permissions.EditChurchPersonalDetails))
                {<text>People</text>}
                else
                {<text>My Details</text>}
                </button> 
            }
            @if (ViewBag.CurrentUser.HasPermission(oikonomos.common.Permissions.EditOwnGroups) ||
                ViewBag.CurrentUser.HasPermission(oikonomos.common.Permissions.EditAllGroups))
            {
                <button id="button_homegroup">
                @if (ViewBag.CurrentUser.HasPermission(oikonomos.common.Permissions.EditAllGroups))
                {
                    <text>Groups</text>
                }
                else
                {
                    <text>My Group</text>
                }
                </button> 
            }

            <button id="button_settings">Settings</button>
            @if (ViewBag.CurrentUser.HasPermission(oikonomos.common.Permissions.ViewLists))
            {
                <button id="button_lists">
                @if (ViewBag.CurrentUser.HasPermission(oikonomos.common.Permissions.ViewChurchContactDetails))
                {
                <text>List of People</text>
                }
                else if (ViewBag.CurrentUser.HasPermission(oikonomos.common.Permissions.ViewGroupContactDetails))
                {
                <text>List of People</text>
                }
                </button>
            }
            @if (ViewBag.CurrentUser.HasPermission(oikonomos.common.Permissions.ViewAdminReports))
            {
            <button id="button_reports">Reports</button>
            }
            @if (ViewBag.CurrentUser.HasPermission(oikonomos.common.Permissions.ViewHelp))
            {
            <button id="button_help">Help</button>
            }
            <button id="button_logout">Logout</button>
            @if (ViewBag.CurrentUser.HasPermission(oikonomos.common.Permissions.SystemAdministrator))
            {
            <button id="button_sysAdmin">Sys Admin</button>
            }
	    </div>
    </div>
</div>

}

<div style="width: 100%" >
    <div id="send_Email" title="Send Email" class="ui-widget" style="display:none; margin: 0 auto; text-align:center; width:1000px">
        <div class="ui-widget">
            <div class="ui-widget-content ui-corner-all">
                <table border="0px" cellpadding="5px" cellspacing="5px">
                    <tr>
                        <td style="width:150px">Subject</td>
                        <td style="width:850px"><input type="text" id="email_subject" style="width:840px" /></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top">Message&nbsp;</td>
                        <td>
                            <textarea id="email_bodyWithFormatting" name="email_bodyWithFormatting" rows="30" cols="100" style="width:840px; height: 350px">
		                    </textarea>
                        </td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td style="text-align:left">
                            <button id="email_send" class="ui-state-active">Send</button>&nbsp;
                            <button id="email_cancel">Cancel</button>
                            <img id="ajax_loader_sendEmail" src="/Content/images/ajax-loader.gif" alt="loading.." style="display:none" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <div id="mainContent" class="ui-widget" style="margin: 0 auto; text-align:center; width:1000px">
        @RenderBody() 
    </div>
</div>
<input type="hidden" id="hidden_googleSearchRegion" value="@(Session[oikonomos.common.SessionVariable.Church] == null ? "" : ((ChurchViewModel)Session[oikonomos.common.SessionVariable.Church]).GoogleSearchRegion)" />

<script type="text/javascript">
    $("button, input:submit").button();
</script>

    <script src="@Url.Content("~/Scripts/postify.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@oikonomos.web.Helpers.JavascriptHelper.Content("~/Scripts/Site/Layout.js")" type="text/javascript"></script>



<div id="response_Message" style="display:none;" title="Server Response">  
    <div id="responseMessage_text">
    </div>
</div>

<div id="send_Sms" style="display:none" title="Send Sms">
    <div class="ui-widget">
        <div class="ui-widget-content ui-corner-all">
            <table border="0px" cellpadding="5px" cellspacing="5px">
                <tr>
                    <td style="vertical-align:text-top">Message</td>
                    <td><textarea id="sms_message" cols="60" rows="6"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span id="noNos"></span>&nbsp;&nbsp;
                        <img id="ajax_loader_sendSms" src="/Content/images/ajax-loader.gif" alt="loading.." style="display:none" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="dialog_errorMessage" style="display:none" title="Something unexpected has happened">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
		<span id="errorMessage"></span>
	</p>
	<p>
		&nbsp;
	</p>
</div>
    
<div id="dialog_infoMessage" style="display:none" title="Success">
	<p>
		<span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 50px 0;"></span>
		<span id="infoMessage"></span>
	</p>
	<p>
		&nbsp;
	</p>
</div>
</body>
</html>
