<script src="@Url.Content("~/Scripts/Site/Homegroups.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Site/AddressLookup.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "Homegroups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script id="homeGroupTemplate" type="text/x-jquery-tmpl">
    <div class="tableRow">
        <div style="display:table-cell;width:20px">&nbsp;</div>
        <div style="display:table-cell" class="selectHomeGroup">
            ${HomeGroupName}
        </div>
        <div style="display:table-cell" class="selectHomeGroup">
            ${LeaderName}
        </div>
        <div style="display:table-cell" class="selectHomeGroup">
            ${AdministratorName}
        </div>
        @if (ViewBag.Role == (int)oikonomos.common.SecurityRoles.ChurchAdministrator)
        {
        <div style="display:table-cell" align="center">
            <img class="button editHomeGroup" src="/Content/Images/edit_24.png" title="Edit homegroup"/>
        </div>
        <div style="display:table-cell" align="center">
            <img class="button deleteHomeGroup" src="/Content/Images/delete_24.png" "Delete homegroup"/>
        </div>
        }
        <div style="display:table-cell;width:20px">&nbsp;</div>
    </div>
</script>

<script id="memberTemplate" type="text/x-jquery-tmpl">
     <div class="tableRow">
        <div style="display:table-cell;width:20px">&nbsp;</div>
        @if (ViewBag.Role == (int)oikonomos.common.SecurityRoles.ChurchAdministrator)
        {
        <div style="display:table-cell; text-align:center;width:60px">
            <input class="radio_leader" name="radio_leader" type="radio" ${LeaderChecked} />
        </div>
        <div style="display:table-cell; text-align:center;width:60px">
            <input class="radio_administrator" name="radio_administrator" type="radio" ${AdministratorChecked} />
        </div>
        }
        else
        {
        <div style="display:table-cell; text-align:center;width:60px">
            {{if FacebookId}}
            <img src="https://graph.facebook.com/${FacebookId}/picture"/>
            {{/if}}
        </div>
        }
        <div style="display:table-cell; text-align:left;width:200px" class="selectPerson">
            ${FullName}
        </div>
        <div style="display:table-cell; text-align:center;width:120px">
            ${HomePhone}
        </div>
        <div style="display:table-cell; text-align:center;width:120px">
            ${CellPhone}
        </div>
        <div style="display:table-cell; text-align:center;width:60px">
            <img class="button removePerson" src="/Content/Images/delete_24.png" title="Remove ${FullName} from home group" />
        </div>
        <div style="display:table-cell;width:20px">&nbsp;</div>
    </div>
</script>

<script id="visitorTemplate" type="text/x-jquery-tmpl">
     <div class="tableRow">
        <div style="display:table-cell;width:20px">&nbsp;</div>
        @if (ViewBag.Role == (int)oikonomos.common.SecurityRoles.ChurchAdministrator)
        {
        <div style="display:table-cell; text-align:center;width:60px"">
            &nbsp;
        </div>
        <div style="display:table-cell; text-align:center;width:60px"">
            &nbsp;
        </div>
        }
        else
        {
        <div style="display:table-cell; text-align:center;width:60px">
            {{if FacebookId}}
            <img src="https://graph.facebook.com/${FacebookId}/picture"/>
            {{/if}}
        </div>
        }
        <div style="display:table-cell; text-align:left;width:200px"" class="selectPerson">
            ${FullName}
        </div>
        <div style="display:table-cell; text-align:center;width:120px"">
            ${HomePhone}
        </div>
        <div style="display:table-cell; text-align:center;width:120px"">
            ${CellPhone}
        </div>
        <div style="display:table-cell; text-align:center;width:60px">
            <img class="button removePerson" src="/Content/Images/delete_24.png" title="Remove ${FullName} from home group" />
        </div>
        <div style="display:table-cell;width:20px">&nbsp;</div>
    </div>
</script>

<script id="attendanceTemplate" type="text/x-jquery-tmpl">
     <div class="tableRow">
        <div style="display:table-cell;width:20px">&nbsp;</div>
        <div style="display:table-cell; text-align:left;width:240px"" class="selectPerson">
            ${FullName}
        </div>
        <div style="display:table-cell; text-align:center;width:75px"">
            <input class="checkbox_attended" type="radio" name="radio${PersonId}"> 
        </div>
        <div style="display:table-cell; text-align:center;width:75px"">
            <input class="checkbox_didNotAttended" type="radio" checked name="radio${PersonId}"> 
        </div>
        <div style="display:table-cell; text-align:center;width:75px">
            <img class="button addEvent" src="/Content/Images/calendar_24.png" title="Add another event" />
        </div>
        <div style="display:table-cell; text-align:center;width:75px">
            <img class="button addComment" src="/Content/Images/comment_24.png" title="Add a comment" />
        </div>
        <div style="display:table-cell; text-align:center;width:75px">
            <img class="button removePerson" src="/Content/Images/delete_24.png" title="Remove ${FullName} from home group" />
        </div>
        <div style="display:table-cell;width:20px">&nbsp;</div>
    </div>
</script>

<script id="groupClassificationTemplate" type="text/x-jquery-tmpl">
    <option>${GroupClassification}</option>
</script>

<script id="suburbTemplate" type="text/x-jquery-tmpl">
    <option>${SuburbName}</option>
</script>

<script id="eventTypeTemplate" type="text/x-jquery-tmpl">
    <div class="tableRow">
        <div style="display:table-cell"><input type="checkbox" id="checkbox_${EventTypeId}" class="checkbox_eventType" value="${EventType}" /><label for="checkbox_${EventTypeId}">${EventType}</label></div>
    </div>
</script>

<div id="tabs" style="text-align:left">
    <ul>
        @if (ViewBag.ShowList)
        {
        <li><a href="#tabs-homegroup">Homegroups</a></li>
        }
        <li><a href="#tabs-myHomegroup"><span id="homeGroupName">@ViewBag.GroupName</span></a></li>
        <li><a href="#tabs-myHomegroupAttendance"><span id="homeGroupNameAttendance">Attendance/Events</span></a></li>
    </ul>

    @if (ViewBag.ShowList)
    {
        <div id="tabs-homegroup">
            <img id="button_addHomeGroup" style="display:none" class="button" alt="Add Homegroup" src="/Content/images/add_24.png" title="Add a new homegroup" />
            <img id="ajax_loader" src="/Content/images/ajax-loader.gif" alt="loading.." />
            <span id="message"></span>
            <div class="ui-widget">
                <div style="display:table" class="ui-widget-content ui-corner-all">
                    <div style="display:table-row; height:30px" class="ui-widget-header ui-corner-all">
                        <div style="display:table-cell;width:20px" class="ui-corner-left">&nbsp;</div>
                        <div style="display:table-cell;width:160px; vertical-align:middle">Name</div>
                        <div style="display:table-cell;width:180px; vertical-align:middle">Leader</div>
                        <div style="display:table-cell;width:180px; vertical-align:middle">Administrator</div>
                        @if (ViewBag.Role == (int)oikonomos.common.SecurityRoles.ChurchAdministrator)
                        {
                        <div style="display:table-cell;width:40px; vertical-align:middle">Edit</div>
                        <div style="display:table-cell;width:40px; vertical-align:middle">Delete</div>
                        }
                        <div style="display:table-cell;width:20px" class="ui-corner-right">&nbsp;</div>
                    </div>
                    <div style="display:table-row-group" id="homeGroupList">
    
                    </div>
                </div>
            </div>
        </div>
    }
    
    <div id="tabs-myHomegroup">
        <div class="ui-widget">
            <div>
                <button id="button_addPerson" title="Add a person to the home group">Add person</button>
                <button id="button_printList" title="View Homegroup List as pdf for printing/emailing">View as pdf</button>
                <button id="button_sendEmail" title="Send and email to your homegroup">Send Email</button>
                <span id="message_hg"></span><img id="ajax_loader_hg" src="/Content/images/ajax-loader.gif" alt="loading.." /><br />&nbsp;<br />
                <div id="table_people" style="display:table" class="ui-widget-content ui-corner-all">
                    <div style="display:table-row; height:30px" class="ui-widget-header ui-corner-all">
                        <div style="display:table-cell;width:20px" class="ui-corner-left">&nbsp;</div>
                        @if (ViewBag.Role == (int)oikonomos.common.SecurityRoles.ChurchAdministrator)
                        {
                        <div style="display:table-cell; vertical-align:middle;width:60px">Leader</div>
                        <div style="display:table-cell; vertical-align:middle;width:60px">Admin</div>
                        }
                        else
                        {
                        <div style="display:table-cell; vertical-align:middle;width:60px">Pic</div>
                        }
                        <div style="display:table-cell; vertical-align:middle;width:200px">Member Name</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:120px">Home Phone</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:120px">Cell Phone</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:60px">Remove</div>
                        <div style="display:table-cell;width:20px" class="ui-corner-right">&nbsp;</div>
                    </div>
                    <div style="display:table-row-group" id="membersList">
    
                    </div>
                    <div id="visitorsHeader" style="display:table-row; height:30px" class="ui-widget-header ui-corner-all">
                        <div style="display:table-cell;width:20px" class="ui-corner-left">&nbsp;</div>
                        @if (ViewBag.Role == (int)oikonomos.common.SecurityRoles.ChurchAdministrator)
                        {
                        <div style="display:table-cell; vertical-align:middle;width:60px">&nbsp;</div>
                        }
                        <div style="display:table-cell; vertical-align:middle;width:60px">&nbsp;</div>

                        <div style="display:table-cell; vertical-align:middle;width:200px">Visitor Name</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:120px">Home Phone</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:120px">Cell Phone</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:60px">Remove</div>
                        <div style="display:table-cell;width:20px" class="ui-corner-right">&nbsp;</div>
                    </div>
                    <div style="display:table-row-group" id="visitorsList">
    
                    </div>
                </div>
            </div>  
        </div>
    </div>

    <div id="tabs-myHomegroupAttendance">
        <div class="ui-widget">
            <div class="ui-widget-content ui-corner-all">
                <div style="display:table">
                    <div class="tableRow" style="height:5px">
                        <div style="display:table-cell;width:20px">&nbsp;</div>
                    </div>
                    <div class="tableRow">
                        <div style="display:table-cell;width:20px">&nbsp;</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:right">Home group date</div>
                        <div style="display:table-cell;width:20px">&nbsp;</div>
                        <div style="display:table-cell"><input type="text" id="text_eventDate" value="@DateTime.Now.ToString("dd MMMM yyyy")"  class="ui-corner-all" style="width:140px"/></div>
                    </div>
                    <div class="tableRow">
                        <div style="display:table-cell;width:20px">&nbsp;</div>
                        <div style="display:table-cell; vertical-align:middle">&nbsp;</div>
                        <div style="display:table-cell;width:20px">&nbsp;</div>
                        <div style="display:table-cell">
                            <button id="button_saveAttendance" style="display:none" title="Save Home Group attendance for the week">Save Attendance</button>
                            <button id="button_printAttendance" style="display:none" title="Print Homegroup attendance">View as pdf</button>
                            <img id="ajax_loader_attendance" src="/Content/images/ajax-loader.gif" alt="loading.." />
                        </div>
                    </div>
                    <div class="tableRow" style="height:5px">
                        <div style="display:table-cell;width:20px">&nbsp;</div>
                    </div>
            </div>
            </div>
            <br />
            <div class="ui-widget">
            <div>
                <button id="button_addPersonAttendance" title="Add a person to the home group">Add person</button>
                <div id="table_peopleAttendance" style="display:table" class="ui-widget-content ui-corner-all">
                    <div style="display:table-row; height:30px" class="ui-widget-header ui-corner-all">
                        <div style="display:table-cell;width:20px" class="ui-corner-left">&nbsp;</div>
                        <div style="display:table-cell; vertical-align:middle;width:240px">Member Name</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:75px">Attended</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:75px">Did not Attend</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:75px">Events</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:75px">Comments</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:75px">Remove</div>
                        <div style="display:table-cell;width:20px" class="ui-corner-right">&nbsp;</div>
                    </div>
                    <div style="display:table-row-group" id="membersListAttendance">
    
                    </div>
                    <div id="visitorsHeaderAttendance" style="display:table-row; height:30px" class="ui-widget-header ui-corner-all">
                        <div style="display:table-cell;width:20px" class="ui-corner-left">&nbsp;</div>
                        <div style="display:table-cell; vertical-align:middle;width:240px">Visitor Name</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:75px">Attended</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:75px">Did not Attend</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:75px">Events</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:75px">Comments</div>
                        <div style="display:table-cell; vertical-align:middle; text-align:center;width:75px">Remove</div>
                        <div style="display:table-cell;width:20px" class="ui-corner-right">&nbsp;</div>
                    </div>
                    <div style="display:table-row-group" id="visitorsListAttendance">
    
                    </div>
                </div>
            </div>  
            </div>
        </div>  
    </div>
</div>

<script type="text/javascript">
    $("#tabs").tabs();
</script>

<div id="edit_homeGroup" style="display:none;" title="Edit Home Group details">  
    <div id="homeGroupDetails" style="display:table; width:400px">
        <div class="tableRow">
        
            <div class="tableRow">
                <div style="text-align:right; display:table-cell">Name</div>
                <div style="display:table-cell">&nbsp;</div>
                <div style="text-align:left; display:table-cell"><input id="text_homeGroupName" type="text" class="ui-corner-all" /></div>
            </div>
            
            <div class="tableRow">
                <div style="text-align:right; display:table-cell">Leader</div>
                <div style="display:table-cell">&nbsp;</div>
                <div style="text-align:left; display:table-cell">
                    <input id="text_homeGroupLeader" type="text" class="ui-corner-all" />
                    <input type="hidden" id="hidden_homeGroupLeaderId" />
                </div>
            </div>

            <div class="tableRow">
                <div style="text-align:right; display:table-cell">Administrator</div>
                <div style="display:table-cell">&nbsp;</div>
                <div style="text-align:left; display:table-cell">
                    <input id="text_homeGroupAdministrator" type="text" class="ui-corner-all" />
                    <input type="hidden" id="hidden_homeGroupAdministratorId" />
                </div>
            </div>

            <div class="@ViewBag.DisplayGroupClassification">
                <div style="text-align:right; display:table-cell">Home Group Classification</div>
                <div style="display:table-cell">&nbsp;</div>
                <div style="text-align:left; display:table-cell">
                    <select id="select_hgClassification" class="ui-corner-all">
                        
                    </select>
                </div>
            </div>

            <div class="tableRow">
                <div style="text-align:right; display:table-cell">Address</div>
                <div style="display:table-cell">&nbsp;</div>
                <div style="text-align:left; display:table-cell"><input id="text_address1" type="text" class="ui-corner-all" />
                <img id="ajax_gpsCoordinates" alt="loading" src="/Content/images/ajax-loader.gif" style="display:none" /></div>
            </div>

            <div class="tableRow">
                <div style="text-align:right; display:table-cell">&nbsp;</div>
                <div style="display:table-cell">&nbsp;</div>
                <div style="text-align:left; display:table-cell"><input id="text_address2" type="text" class="ui-corner-all" /></div>
                <img id="ajax_gpsCoordinates2" alt="loading" src="/Content/images/ajax-loader.gif" style="display:none" />
            </div>

            <div class="tableRow">
                <div style="text-align:right; display:table-cell">&nbsp;</div>
                <div style="display:table-cell">&nbsp;</div>
                <div style="text-align:left; display:table-cell"><input id="text_address3" type="text" class="ui-corner-all" /></div>
            </div>
    
            <div class="tableRow">
                <div style="text-align:right; display:table-cell">&nbsp;</div>
                <div style="display:table-cell">&nbsp;</div>
                <div style="text-align:left; display:table-cell">
                    <input id="text_address4" type="text" class="ui-corner-all" />
                    <input id="hidden_lat" type="hidden" />
                    <input id="hidden_lng" type="hidden" />
                    <input id="hidden_addressType" type="hidden" />
                    <input id="hidden_addressId" type="hidden" />
                    <input id="hidden_addressChosen" type="hidden"/>
                    <input id="hidden_homeGroupId" type="hidden"/>
                </div>
            </div>

            
            <div class="@ViewBag.DisplaySuburbLookup">
                <div style="text-align:right; display:table-cell">Suburb</div>
                <div style="display:table-cell">&nbsp;</div>
                <div style="text-align:left; display:table-cell">
                    <select id="select_hgSuburb" class="ui-corner-all">
                        
                    </select>
                </div>
            </div>

        </div>

</div>
</div>

<div id="add_Person" style="display:none;" title="Add Person to homegroup">  
    <div style="width:400px; display:table">
        <div class="tableRow">
            <div style="display:table-cell">Name</div>
            <div style="display:table-cell; width:300px">
                <input type="text" id="text_personName" class="ui-corner-all" /><img id="ajax_loader_addPerson" style="display:none" src="/Content/images/ajax-loader.gif" alt="loading.." />
                <input type="hidden" id="hidden_personId" />          
            </div>
        </div>
        @if (ViewBag.ShowRoles)
        {
        <div id="row_addPerson_securityRole" class="tableRow">
            <div style="display:table-cell">Role</div>
            <div style="display:table-cell">
                <select id="addPerson_securityRole" class="ui-corner-all">
                    <option>Visitor</option>
                    <option>Member</option>
                </select>
            </div>
            
        </div>
        }
    </div>
</div>

<div id="add_Event" style="display:none;" title="Add Event">  
    <div style="width:400px; display:table">
        <div class="tableRow" style="height:10px">
            <div style="display:table-cell">&nbsp;<input type="hidden" id="hidden_eventPersonId" /></div>
        </div>
        <div style="display:table-row-group" id="eventsList">
    
        </div>
        <div style="display:table-row">
            <div style="display:table-cell"><input type="checkbox" id="checkbox_other" class="checkbox_eventType" /><input type="text" id="text_other" class="ui-corner-all" /></div>
        </div>
    </div>
</div>


<script id="previousCommentsTemplate" type="text/x-jquery-tmpl">
     <li>${DateDisplay} ${Description}</li>
</script>

<div id="add_Comment" style="display:none;" title="Add Comment"> 
    <table border="0px" cellpadding="5px" cellspacing="5px">
        <tr>
            <td>Comment<input type="hidden" id="hidden_commentPersonId" /><br />
            <textarea id="comment_detail" rows="15" cols="55"></textarea></td>
        </tr>
        <tr id="previous_comments">
            <td>Previous Comments<img id="ajax_loader_comment" src="/Content/images/ajax-loader.gif" alt="loading.." style="display:none" /><br />
                <ul id="previous_commentsList">
                
                </ul>
            </td>
        </tr>
    </table>
</div>

<div id="include_Visitors" style="display:none" title="Include Visitors?">
        <table border="0px" cellpadding="5px" cellspacing="5px">
        <tr>
            <td>Would you like to send the email to the visitors as well?</td>
        </tr>
    </table>
</div>

<div id="add_LeaveEvent" style="display:none;" title="Reason for removing them from the group?">  
    <table style="width:280px">

        <tr style="height:30px">
            <td><input type="checkbox" id="checkbox_leaveChurch" class="checkbox_eventType" value="Left the church" />&nbsp;&nbsp;Left the church</td>
        </tr>
        <tr style="height:30px">
            <td><input type="checkbox" id="checkbox_leaveGroup" class="checkbox_eventType" value="Left the group" />&nbsp;&nbsp;Left the group</td>
        </tr>
        <tr style="height:30px">
            <td><input type="checkbox" id="checkbox_leaveOther" class="checkbox_eventType" />&nbsp;&nbsp;<input type="text" id="text_leaveOther" class="ui-corner-all" /></td>
        </tr>
    </table>
</div>

<div id="div_groupId" style="display:none">@ViewBag.GroupId</div>