@model oikonomos.common.Models.AdminReportsViewModel

<script src="@oikonomos.web.Helpers.JavascriptHelper.Content("~/Scripts/Site/Reports.js")" type="text/javascript"></script>
<script src="@oikonomos.web.Helpers.JavascriptHelper.Content("~/Scripts/Site/ReportsAdmin.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "Admin Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="tabs" style="text-align:left">
    <ul>
        <li><a href="#tabs-groupList">Group List</a></li>
        <li><a href="#tabs-groupAttendance">Group Attendance</a></li>
        <li><a href="#tabs-notInGroup">Not in any group</a></li>
        <li><a href="#tabs-events">Events</a></li>
        <li><a href="#tabs-peopleInARole">People in a role</a></li>
        <li><a href="#tabs-exportData">Export Church Data</a></li>
    </ul>
    <div id="tabs-groupList">
        <button id="button_sendHomeGroupLeaderEmail" title="Send an Email to the group leaders/admins">Send Email</button>&nbsp;
        <button id="button_sendHomeGroupLeaderSms" title="Send an Sms to the group leaders/admins">Send Sms</button>&nbsp;
        <input id="checkBox_IncludeMembers" type="checkbox" />&nbsp;Include Group Members<br />&nbsp;
        <table id="jqgHomegroups" cellpadding="0" cellspacing="0" style="width:800px"></table>
        
        <div id="jqgpHomegroups" style="text-align:center;"></div>
    </div>
    <div id="tabs-groupAttendance">
        <table id="jqgGroupAttendance" cellpadding="0" cellspacing="0" style="width:800px"></table>
        <div id="jqgpGroupAttendance" style="text-align:center;"></div>
        <div>nc = Nothing Captured</div>
    </div>
    <div id="tabs-notInGroup">
        <button id="button_viewPeopleNotInAGroup">Print/View Pdf</button><br />&nbsp;<br />
        <table id="jqgNotInGroup" cellpadding="0" cellspacing="0" style="width:800px"></table>
        <div id="jqgpNotInGroup" style="text-align:center;"></div>
    </div>
    <div id="tabs-events">
        <div style="display:table" class="ui-widget-content ui-corner-all">
            <div style="display:table-row; height:30px" class="ui-corner-top">
                <div style="display:table-cell;width:160px" class="ui-corner-left">&nbsp;</div> 
                <div style="display:table-cell;width:300px">&nbsp;</div>
                <div style="display:table-cell;width:160px" class="ui-corner-right">&nbsp;</div>
            </div>
            <div style="display:table-row; height:30px">
                <div style="display:table-cell;width:160px; text-align:right">From Date&nbsp;</div> 
                <div style="display:table-cell;width:300px">&nbsp;<input type="text" id="fromDate" class="ui-corner-all dateControl" value="@DateTime.Now.AddMonths(-2).ToString("dd MMMM yyyy")" style="width:130px" /></div>
                <div style="display:table-cell;width:160px">&nbsp;</div>
            </div>
            <div style="display:table-row; height:30px">
                <div style="display:table-cell;width:160px; text-align:right">To Date&nbsp;</div> 
                <div style="display:table-cell;width:300px">&nbsp;<input type="text" id="toDate" class="ui-corner-all dateControl" value="@DateTime.Now.ToString("dd MMMM yyyy")" style="width:130px"/></div>
                <div style="display:table-cell;width:160px">&nbsp;</div>
            </div>
            <div style="display:table-row; height:30px">
                <div style="display:table-cell;width:160px; text-align:right">Search&nbsp;</div> 
                <div style="display:table-cell;width:300px">&nbsp;<input type="text" id="searchText" class="ui-corner-all" style="width:300px" /></div>
                <div style="display:table-cell;width:160px">&nbsp;</div>
            </div>
            <div style="display:table-row; height:30px">
                <div style="display:table-cell;width:160px; text-align:right">&nbsp;</div> 
                <div style="display:table-cell;width:300px"><span style="font-size:small">(separate search events with a comma)&nbsp;</span></div>
                <div style="display:table-cell;width:160px">&nbsp;</div>
            </div>
            <div style="display:table-row; height:30px" class="ui-corner-bottom">
                <div style="display:table-cell;width:160px" class="ui-corner-left">&nbsp;</div> 
                <div style="display:table-cell;width:300px">&nbsp;</div>
                <div style="display:table-cell;width:160px" class="ui-corner-right">&nbsp;</div>
            </div>
        </div>

        <div style="display:table">
            <div style="display:table-row; height:30px">
                <div>&nbsp;</div> 
            </div>
        </div>

        <table id="jqgEventList" cellpadding="0" cellspacing="0" style="width:800px"></table>
        <div id="jqgpEventList" style="text-align:center;"></div>
    </div>
    <div id="tabs-peopleInARole">
        @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.SecurityRoles, "RoleId", "Name"), new { @class = "ui-corner-all" })
        <button id="button_viewPeopleInARole">Print/View Pdf</button><br />&nbsp;<br />
        <table id="jqgPeopleInARole" cellpadding="0" cellspacing="0" style="width:800px"></table>
        <div id="jqgpPeopleInARole" style="text-align:center;"></div>
    </div>
    <div id="tabs-exportData">
        <p>Clicking Export Church Data will generate a comma delimited file which can be imported into various other systems (including Microsoft Excel).  This file contains all of the membership data in the church</p>
        <button id="button_exportChurchData">Export Church Data</button>
    </div>
</div>

<script type="text/javascript">
    $("#tabs").tabs();
</script>

