@model oikonomos.common.Models.SysAdminViewModel
           
<script src="@oikonomos.web.Helpers.JavascriptHelper.Content("~/Scripts/Site/SysAdmin.js")" type="text/javascript"></script>
<script src="@oikonomos.web.Helpers.JavascriptHelper.Content("~/Scripts/Site/AddressLookup.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "SysAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ui-widget" style="text-align:left">
    <div class="ui-widget-content">
        <div id="accordion">
            <h3><a href="#">Switch to a different church</a></h3>
            <div>
                Select a church to switch to @Html.DropDownListFor(m => m.ChurchId, new SelectList(Model.Churches, "ChurchId", "ChurchName"))
            </div>
            <h3><a href="#">Add a new church</a></h3>
            <div>
                <div style="width:400px; display:table" data-bind="with: church">

                    <div class="tableRow">
                        <div style="display:table-cell">Church Name</div>
                        <div style="display:table-cell; width:300px"><input type="text" class="ui-corner-all" data-bind="value: ChurchName" /></div>
                    </div>
                    <div class="tableRow">
                        <div style="display:table-cell">Church Admin Firstname</div>
                        <div style="display:table-cell; width:300px"><input type="text" class="ui-corner-all" data-bind="value: ContactFirstname" /></div>
                    </div>
                    <div class="tableRow">
                        <div style="display:table-cell">Church Admin Surname</div>
                        <div style="display:table-cell; width:300px"><input type="text"class="ui-corner-all" data-bind="value: ContactSurname" /></div>
                    </div>
                    <div class="tableRow">
                        <div style="display:table-cell">Church Website</div>
                        <div style="display:table-cell; width:300px"><input type="text" class="ui-corner-all" data-bind="value: Url" /></div>
                    </div>
                    <div class="tableRow">
                        <div style="display:table-cell">Church Office No</div>
                        <div style="display:table-cell; width:300px"><input type="text" class="ui-corner-all" data-bind="value: OfficePhone" /></div>
                    </div>
                    <div class="tableRow">
                        <div style="display:table-cell">Church Email</div>
                        <div style="display:table-cell; width:300px"><input type="text" class="ui-corner-all" data-bind="value: OfficeEmail" /></div>
                    </div>

                    <div class="tableRow">
                        <div style="text-align:right; display:table-cell">Address</div>
                        <div style="text-align:left; display:table-cell"><input type="text" class="ui-corner-all" data-bind="value: Address1"  /></div>
                    </div>

                    <div class="tableRow">
                        <div style="text-align:right; display:table-cell">&nbsp;</div>
                        <div style="text-align:left; display:table-cell"><input type="text" class="ui-corner-all" data-bind="value: Address2" /></div>
                    </div>

                    <div class="tableRow">
                        <div style="text-align:right; display:table-cell">&nbsp;</div>
                        <div style="text-align:left; display:table-cell"><input type="text" class="ui-corner-all" data-bind="value: Address3" /></div>
                    </div>
    
                    <div class="tableRow">
                        <div style="text-align:right; display:table-cell">&nbsp;</div>
                        <div style="text-align:left; display:table-cell"><input type="text" class="ui-corner-all" data-bind="value: Address4" /></div>
                    </div>
            
                    <div class="tableRow">
                        <div style="text-align:right; display:table-cell">Province</div>
                        <div style="text-align:left; display:table-cell"><input type="text" class="ui-corner-all" data-bind="value: Province" /></div>
                    </div>
                    
                    <div class="tableRow">
                        <div style="text-align:right; display:table-cell">Lat</div>
                        <div style="text-align:left; display:table-cell"><input type="text" class="ui-corner-all" data-bind="value: Lat" /></div>
                    </div>
                            
                    <div class="tableRow">
                        <div style="text-align:right; display:table-cell">Long</div>
                        <div style="text-align:left; display:table-cell"><input type="text" class="ui-corner-all" data-bind="value: Lng" /></div>
                    </div>

                    <div class="tableRow">
                        <div style="text-align:right; display:table-cell">Site Theme&nbsp;</div>
                        <div style="text-align:left; display:table-cell">
                            <input type="text" class="ui-corner-all" data-bind="value: UITheme" />
                        </div>
                    </div>

                    <div class="tableRow">
                        <div style="text-align:right; display:table-cell">System Name&nbsp;</div>
                        <div style="text-align:left; display:table-cell"><input type="text" class="ui-corner-all" data-bind="value: SystemName" /></div>
                    </div>

                    <div class="tableRow">
                        <div style="text-align:right; display:table-cell">&nbsp;</div>
                        <div style="text-align:left; display:table-cell"><button data-bind='click: $parent.createNewChurch'>Create New Church</button></div>
                    </div>
                </div>           
            </div>
        
            <h3><a href="#">Email Templates</a></h3>
            <div>
                <div>
                    Select church : @Html.DropDownListFor(m => m.ChurchId, new SelectList(Model.Churches, "ChurchId", "ChurchName"), new { @id = "SelectedChurchId", @class = "ui-corner-all" })
                    Select template : @Html.DropDownListFor(m => m.EmailTemplateId, new SelectList(Model.EmailTemplates, "EmailTemplateId", "Name"), new { @class = "ui-corner-all" })
                    <br />
                    <br />
                </div>
                <div>
                    <textarea id="elm1" name="elm1" rows="30" cols="80" class="tinymce" style="height:500px;width:740px">
			
		            </textarea>
                </div>
                <div><br /><button id="SaveEmailTemplate">Save Template</button></div>
            </div>

            <h3><a href="#">Run Sql</a></h3>
            <div>
                <textarea cols="100" rows="7" data-bind="value: queryString"></textarea><br />
                <button data-bind="click: runQuery">Go</button>   
                
                <p>Results</p>
                <table id="jqgQueryResults" cellpadding="0" cellspacing="0"></table>
                <div id="jqgpQueryResults" style="text-align:center;"></div>
            </div>

        </div>
    </div>
</div>


